---
#######################################
# DEFAULTS change to fit

hostname: "zephy"

# localisation data
timezone: "Pacific/Tahiti"
locale: "en_US"
locale_encoding: "UTF-8"
keymap: "fr-latin1"

########################################
# GENERATED check em!

laptop: "y"
dual_boot: "y"
format_boot: "n"

# partition variables
boot: "nvme1n1p1"
swap: "nvme1n1p3"
root: "nvme1n1p2"
windows: "nvme0n1p3"
